/* StyleSheet.css
Julia McDowell
Comp20 ProEMS Website */

/*NAVIGATION BAR*/
nav{
    position:fixed;
    width: 100%;
    margin:0 auto;
}

ul {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #D0D0D0;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #0A10C4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00508F;
  color: #FFFFFF;
}

a.currpage {
    background-color: #FFFFFF;
}
/*END NAVIGATION BAR*/


body{
    background-image: url("weewoo.jpeg");
    background-size: cover;
    background-attachment: fixed;
}



.title{
    position: relative;
    top: 200px;
    color: #FFFFFF;
    text-align: center;
    font-size: 70px;
    font-size: 6vw;
}

#title2{
    position: relative;
    top: 150px;
    color: #FFFFFF;
    text-align: center;
    font-size:50px;
    font-size:4vw;
}

.aboutcontainer {
    width:90%;
    height: 20%;
    background-color: #FFFFFF;
    color:#000000;
    text-align:center;
    border-radius: 25px;
    border-color: #D0D0D0;
    border-style: groove;
    margin:0 auto;
    position: relative;
    top:150px;
    margin-bottom: 30px;
}
.aboutc2{
    font-size: 20px;
    position:relative;
    width:70%;
    text-align:center, top;
    margin:0 auto;
    border-radius:25px;
}
.aboutc3{
    font-size:14px;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    text-align: center;
    padding: 1px;
    background-color: #D0D0D0;
    color: white;
}



